<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
</head>
<body>
<h2>新建</h2>
<form method="post" action="/">
    <label>
        <input type="text" name="text" placeholder="新增一条Todo">
    </label>
    <button type="submit" value="update">新增</button>
</form>
<h2>列表</h2>
{% for todo in todos %}
    <form method="POST" action="/edit/{{ todo.id }}">
        <input type="hidden" name="done" value="off">
        <label>
            <input type="checkbox" onclick="redirect('/edit/{{ todo.id }}')"
                   data-target="/edit/{{ todo.id }}">
        </label>
        <input type="text" title="{{ todo.dateAdded }}" value="{{ todo.text }}" name="text">
        <button type="submit" value="update">更新</button>
    </form>
{% endfor %}
</body>
</html>